html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background-color: aqua;
    display:flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 40%;
    width: 40%;
    background-color: aliceblue;
    border:1px solid black;
    border-radius: 20px;
    transition:transform 0.6s ease-in-out;
    box-shadow: 7px 8px 24px -9px black;
}
.box:hover{
    background-color: lightskyblue;
    transform:scale(1,1);
}